<div class="row" ng-controller="graphCtrl">
    <div class="col-lg-4">
         <div class=" panel panel-green">
            <div class="panel-heading">
                 <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Shipped Units</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="doughnut" class="chart chart-doughnut"
                                        chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
                                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class=" panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Order Accuracy</h3>
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line"
                        chart-data="data" chart-labels="labels" chart-legend="true"></canvas>
            </div>
        </div>
    </div>
</div>