<form class="form-group" role="form">
    <div class="form-group">
        <label>Issue Type</label>
        <select class="form-control" id="issueType">
            <option>Powerhouse Failure</option>
            <option>Shipping Error</option>
            <option>RF Gun Issue</option>
            <option>Lightning Pick Issue</option>
            <option>Other</option>
        </select>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="5" id="issueDescription"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>